.button {
    background-color: #13c1ac;
    color: azure;
    cursor: pointer;
    border-radius: 9999px;
    border-style: solid;
    border-width: 1px;
    border-color: #13c1ac;
    display: inline-flex;
    align-items: center;
    font: inherit;
    font-weight: bold;
    min-height: 36px;
    justify-content: center;
    min-width: 72px;
    outline-style: none;
    padding: 0 30px;
    text-decoration: none;
    transition: background-color 0.2s;
    font-size: 1.4rem;
}

.button.primary {
    background-color: #13c1ac;
    color: azure;
}

.button.secondary {
    background-color: azure;
    color: #13c1ac;
}

.button.disabled, .button:hover{
    opacity: 0.5;
}

