.tagSelector-container {
    width: 500px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(19, 195, 174);
    border-radius: 25px;
    align-items: center;
}

.tagSelector-selections {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(19, 195, 174);
}

.tagSelector-label {
    display: block;
    font-size: 1.3rem;
    color: rgb(19, 195, 174);
}

.tagSelector-selected {
    font-size: 1.3rem;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(19, 195, 174);
}

.tag {
}

.selected {
    font-size: 1.3rem;
}