.header {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.header-icon {
    align-items: center;
    background-color: transparent;
    border-radius: 9999px;
    color: rgba(29, 161, 242, 1);
    display: inline-flex;
    height: 100px;
    justify-content: center;
    transition: background-color 0.2s;
    width: 200px;
    display: inline;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.header-search {
    margin-left: 10px;
    margin-right: 10px;
}

.header-login {
    margin-left: 10px;
    margin-right: 10px;
}

.header-add {
    margin-left: 10px;
    margin-right: 20px;
}