.newAdvert-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}

.newAdvertPage-back {
    position: absolute;
    top: 1%;
    left: 7%;
}

.newAdvert-title {
    display: flex;
    margin-top: 50px;
    font-weight: normal;
    font-size: 40px;
    justify-content: center;
    color: rgb(19, 195, 174);
}

.newAdvert-name {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.newAdvert-sale {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.newAdvert-price {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.newAdvert-tags {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.newAdvert-photo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.newAdvert-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
